body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;

  #container-content {
    display: flex;
    justify-content: center;
  }
  footer {
    display: block;
    position: absolute;
    bottom: 0;
  }
}

h1 {
  font-weight: 300;
}

a, a:visited {
  color: rgb(128, 64, 64);
}
